/*Main Style*/
body { background-color: #111111; margin-top: -60px;}
@font-face {font-family: 'MINIMALHARD2'; font-style: normal; font-weight: normal;src: local('MINIMALHARD2'), url('mh2__.woff') format('woff');}
#logo_type{top:20px; left:4%; z-index: 3; position: fixed;}
#logoSpread{font-family: "minimalhard2"; font-weight: bolder; font-size: 1.0vw; position: fixed; color: white; z-index: 3; top: 25px; padding: 0.1vw 2vw 0.1vw 0.1vw; opacity: 0; left: 6%; visibility: hidden; transition: all 0.2s ease-in; width:400px; }
#logo_type:hover #logoSpread {opacity: 1; left: 7%; visibility: visible;}

#nav_menu{position: fixed; margin-top: 84px;}
#nav_menu {margin-left: 71%; z-index: 3;}
#nav_menu tr {color:white;}
#nav_menu tr th {font-family: "minimalhard2"; font-weight: lighter; font-size: 1.0vw; padding: 0.1vw 2vw 0.1vw 0.1vw; transition: all 0.2s ease-in;}
svg {top: 0px; position: fixed; z-index: 2; left:-8px;}

#nav_menu tr > #menu1:hover #sub-menu {opacity: 1; visibility: visible;}
#sub-menu {position: absolute; background: #222222; opacity: 0; visibility: hidden; transition: all 0.2s ease-in; font-family: "Noto Serif KR", serif; font-size: 0.8vw;}
#sub-menu > li {padding: 20px 25px; border-bottom: 1px solid #222222;}
#sub-menu > li >  a {color: rgba(255,255,255,0.6); text-decoration: none;}

#menu1:hover {text-decoration: underline;}
#menu2:hover {text-decoration: underline;}
#menu3:hover {text-decoration: underline;}
#menu4:hover {text-decoration: underline;}

#footer{font-family: "Noto Serif KR", serif; display: block; font-size:14px; color: white; top:16500px; width: 600px; height: 80px; margin:auto; position: relative; text-align: center;}

#monitor {top: 25px; width: 100px; height: 40px; background: red; position: fixed; right: 0px; line-height: 40px; color: white; z-index: 5; }




/* navigation menu */

	#introduce{transition: all 1s;}
	#develop{transition: all 1s;}
	#analysis{transition: all 1s;}
	#doubt{transition: all 1s;}
	#now{transition: all 1s;}
	#lft_nav_menu{position: fixed; margin-top: 138px;}
	#lft_nav_menu ul {color:white;}
	#lft_nav_menu ul li {font-family: "Noto Serif KR", serif; font-size:16px;  border-bottom: 0.1px solid #c0c0c0; padding: 5px 0px 5px 60px; margin: 80px 50px 0px -45px;}
	#topb{position: fixed; margin: auto; width: 50px; height: 50px; left:91%; top:88%;}
	#topb:hover{animation: tops 0.75s both;}
	@keyframes tops {
		0% {opacity: 0; top:88%;}
		100% {opacity: 1; top:87%;}}




/* Inroduce */

#entry{font-family: "Noto Serif KR", serif; font-size:40px; color: #cccccc; top:480px; width: 600px; height: 80px; margin:auto; position: relative; text-align: center; filter: blur(0.1px); animation: animate 6s linear both;}
  @keyframes animate {
    0% {opacity: 0.97; filter: blur(0.1px);}
    5% {opacity: 0.95; filter: blur(0.2px);}
    10% {opacity: 0.9; filter: blur(0.2px);}
    100% {opacity: 0.6;filter: blur(4px);}}

#title{font-family: "Noto Serif KR", serif; font-size:1.5vw; color: #cccccc; overflow:hidden; top:1308px; width: 20vw; height: 2.5vw; margin:auto; position: relative; text-align: center; border-bottom: 0.5px solid gray; animation: title_move 1s linear forwards paused;}
  @keyframes title_move {
    from {width: 0;}
    to {width: 20vw;}}

#a1{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:1490px; width: 540px; height: 24px; margin:auto; left: 38.5%; position: absolute; text-align: left; overflow: hidden;  white-space: nowrap; border-right: .15em solid #fff; animation: typing 1.5s 1.5s steps(40, end)both paused;}
#a2{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:1525px; width: 600px; height: 24px; margin:auto; left: 38.5%; position: absolute; text-align: left; overflow: hidden; white-space: nowrap; border-right: .15em solid #fff; animation: typing2 1.5s 3.2s steps(40, end) both paused;}
#a3{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:1560px; width: 600px; height: 24px; margin:auto; left: 38.5%; position: absolute; text-align: left; overflow: hidden;  white-space: nowrap; border-right: .15em solid #fff; animation: typing3 1.5s 5.1s steps(40, end)both paused;}
#a4{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:1595px; width: 400px; height: 24px; margin:auto; left: 38.5%; position: absolute; text-align: left; overflow: hidden;  white-space: nowrap; border-right: .15em solid #fff; animation: typing4 1.5s 6.85s steps(40, end) both paused, blink-caret .75s 5.35s step-end infinite both;}
  @keyframes typing {
    from {width: 0;}
    to {width: 32em; border-right: 0em;}}
  @keyframes typing2 {
    from {width: 0; border-right: 0em;}
    to {width: 35.8em; border-right: 0em;}}
  @keyframes typing3 {
    from {width: 0; border-right: 0em;}
    to {width: 33.3em; border-right: 0em;}}
  @keyframes typing4 {
    from {width: 0; border-right: 0em;}
    to {width: 26em;}}
  @keyframes blink-caret {
    from, to {border-color: #cccccc}
    50% {border-color: #000;}}

#field{display: block; width: 3000px; overflow: hidden; height: 427px; left: 0px; top: 1155px; position: relative; transition: all 1s; animation: move 25s linear forwards paused; z-index: -1; white-space: normal;}
  @keyframes move{
		0%{left: 0px;}
		100%{left: -800px;}}




/* Unfold */

#unfold{font-family: "Noto Serif KR", serif; font-size:1.5vw; color: #cccccc; top:2000px; width: 8vw; height: 2.5vw; margin:auto; left: 20%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}




/* Profiling */

#profiling{font-family: "Noto Serif KR", serif; font-size:1.5vw; color: #cccccc; top:3095px; width: 12vw; height: 2.5vw; margin:auto; left: 20%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}

#map1{position:relative; display: block; margin: auto; width:1300px; height:900px; top:1700px;}
#mapSub{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:1715px; width: 600px; height: 80px; margin:auto; position: relative; text-align: center;}
.label {font-family: "Noto Serif KR", serif; background-color:white; font-size:12px; padding:5px;}
#label2 {font-family: "Noto Serif KR", serif; width:320px; background-color:white; font-size:12px; padding:10px;}
#label3 {font-family: "Noto Serif KR", serif; width:240px; background-color:white; font-size:12px; padding:10px;}
#label4 {font-family: "Noto Serif KR", serif; width:215px; background-color:white; font-size:12px; padding:10px;}
#label5 {font-family: "Noto Serif KR", serif; width:170px; background-color:white; font-size:12px; padding:10px;}

#daumFlashTarget{position:relative; display: block; margin: auto; width:1300px; height:750px; top:1750px;}
#roadview_sub{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:1765px; width: 600px; height: 80px; margin:auto; position: relative; text-align: center;}

#dP_missing{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:5190px; width: 5.5vw; height: 2.0vw; margin:auto; left: 26%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#dP_headline{font-family: "Noto Serif KR", serif; font-size:3.5vw; color: #cccccc; top: 5270px; left:27%; margin:auto; height: 5.2vw; position: absolute; text-align: left; border-bottom: 0.5px solid gray; transition: all 0.1s; overflow: hidden; white-space: nowrap; animation: typing5 2s steps(21, end)both paused;}
	@keyframes typing5 {
    from {width: 0;}
    to {width: 13.2em;}}
#dP_headline_picture{display: block; top:2150px; width: 1000px; height: 480px; position: relative; margin: auto; opacity: 0; transition: all 0.1s; animation: move2 1s linear forwards paused;}
	@keyframes move2 {
    from {opacity:0;}
    to {opacity:1;}}
#dP_headline_picture_sub{font-family: "Noto Serif KR", serif; font-size:0.8vw; left: 25%; color: #cccccc; top:5955px; width: 50vw; height: 40px; margin:auto; position: absolute; text-align: center;}
#dP_headline_contents_1{font-family: "Noto Serif KR", serif; font-size:1vw; line-height:2.5; left: 27.5%; color: #cccccc; top:6010px; width: 22vw; height: 80px; margin:auto; position: absolute; text-align: left;}
#dP_headline_contents_2{font-family: "Noto Serif KR", serif; font-size:1vw; line-height:2.5; left: 51.5%; color: #cccccc; top:6010px; width: 23vw; height: 80px; margin:auto; position: absolute; text-align: left;}

#dP_police{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:6410px; width: 6.5vw; height: 2.0vw; margin:auto; left: 22%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#dP_police_contents{font-family: "Noto Serif KR", serif; font-size:0.75vw; color: #cccccc; top:6490px; width: 28vw; margin:auto; left: 23%; position: absolute; text-align: left; line-height:2.2;}
#dP_police_picture{position:absolute; width:480px; left: 58%; height:480px; top:6450px;}

#dP_identity{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:7050px; width: 6.5vw; height: 2.0vw; margin:auto; left: 22%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#dP_identity_contents{font-family: "Noto Serif KR", serif; font-size:0.75vw; color: #cccccc; top:7130px; width: 28vw; margin:auto; left: 23%; position: absolute; text-align: left; line-height:2.2;}
#dP_identity_picture{position:absolute; width:480px; left: 58%; height:480px; top:7100px;}

#dP_relation{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:7800px; width: 6.5vw; height: 2.0vw; margin:auto; left: 22%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#dP_headline_2{font-family: "Noto Serif KR", serif; font-size:3.5vw; color: #cccccc; top: 7890px; left:22.6%; margin:auto; height: 5.2vw; position: absolute; text-align: left; transition: all 0.1s; overflow: hidden; white-space: nowrap; animation: typing6 2s steps(21, end)both paused;}
	@keyframes typing6 {
    from {width: 0;}
    to {width: 15.8em;}}

#map2{position:relative; display: block; margin: auto; width:1300px; height:900px; top:4280px;}
#mapSub2{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:4295px; width: 600px; height: 80px; margin:auto; position: relative; text-align: center;}
#label6 {font-family: "Noto Serif KR", serif; width:70px; background-color:white; font-size:12px; padding:10px;}
#label7 {font-family: "Noto Serif KR", serif; width:210px; background-color:white; font-size:12px; padding:10px;}
#label8 {font-family: "Noto Serif KR", serif; width:188px; background-color:white; font-size:12px; padding:10px;}
#label9 {font-family: "Noto Serif KR", serif; width:70px; background-color:white; font-size:12px; padding:10px;}

#dP_incident_2{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:9160px; width: 11.5vw; height: 2.0vw; margin:auto; left: 22%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#dP_incident_2_contents{font-family: "Noto Serif KR", serif; font-size:0.75vw; color: #cccccc; top:9245px; width: 28vw; margin:auto; left: 23%; position: absolute; text-align: left; line-height:2.2;}
#dP_incident_2_picture{position:absolute; width:750px; left: 52%; height:450px; top:9110px;}

#dP_ending{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:4860px; width: 15vw; height: 2.0vw; margin:auto; position: relative; text-align: center; border-bottom: 0.5px solid gray;}
#dP_ending_contents{font-family: "Noto Serif KR", serif; font-size:0.85vw; color: #cccccc; top:4880px; width: 35vw; margin:auto; position: relative; text-align: left; line-height:2.2;}




/* Suspicion */

#suspicion{font-family: "Noto Serif KR", serif; font-size:1.5vw; color: #cccccc; top:10200px; width: 4vw; height: 2.5vw; margin:auto; left: 20%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}

#sus_1{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:10350px; width: 11.5vw; height: 2.0vw; margin:auto; left: 22%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#sus_1_contents{font-family: "Noto Serif KR", serif; font-size:0.75vw; color: #cccccc; top:10430px; width: 28vw; margin:auto; left: 23%; position: absolute; text-align: left; line-height:2.2;}
#sus_1_picture{position:absolute; width:480px; left: 60%; height:480px; top:10280px;}

#sus_2{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:10850px; width: 10.5vw; height: 2.0vw; margin:auto; left: 22%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#sus_2_contents{font-family: "Noto Serif KR", serif; font-size:0.75vw; color: #cccccc; top:10940px; width: 28vw; margin:auto; left: 23%; position: absolute; text-align: left; line-height:2.2;}
#sus_2_picture{position:absolute; width:480px; left: 60%; height:480px; top:10750px;}

#sus_3{font-family: "Noto Serif KR", serif; font-size:1.1vw; color: #cccccc; top:11350px; width: 18vw; height: 2.0vw; margin:auto; left: 22%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}
#sus_3_contents{font-family: "Noto Serif KR", serif; font-size:0.75vw; color: #cccccc; top:11440px; width: 28vw; margin:auto; left: 23%; position: absolute; text-align: left; line-height:2.2;}
#sus_3_picture{position:absolute; width:480px; left: 60%; height:480px; top:11300px;}




/* Ending */

#ending{font-family: "Noto Serif KR", serif; font-size:1.5vw; color: #cccccc; top:12050px; width: 4vw; height: 2.5vw; margin:auto; left: 20%; position: absolute; text-align: left; border-bottom: 0.5px solid gray;}

#end_video{display:block; position:relative; margin:auto; top:7140px; width: 1280px; height: 720px; z-index: -1;}
#videoSub{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; left: 340px; top:7155px; width: 600px; height: 80px; margin:auto; position: relative; text-align: right;}

#end_headline{font-family: "Noto Serif KR", serif; font-size:3.5vw; color: #cccccc; top: 7350px; margin:auto; height: 5.2vw; position: relative; text-align: center; transition: all 0.1s; animation: opc 10s linear forwards paused;}
#end_quote_1{position:relative; left: 24%; top:7100px; transition: all 0.1s; animation: opc 10s linear forwards paused;}
#end_quote_2{position:relative; left: 61.5%; top:7260px; transition: all 0.1s; animation: opc 10s linear forwards paused;}
	@keyframes opc {
    from {opacity: 0;}
    to {opacity: 0.75;}}

#end_contents{font-family: "Noto Serif KR", serif; font-size:0.75vw; color: #cccccc; top:7420px; width: 30vw; margin:auto; position: relative; text-align: left; line-height:2.2;}

#end_final{font-family: "Noto Serif KR", serif; display: block; width: 1100px; height: 1120px; position: relative; background-color: gray; opacity: 0.5; margin: auto; top:7700px; line-height:2.2; text-align: center; font-size: 22px; color: white;}

#end_report{font-family: "Noto Serif KR", serif; font-size:0.7vw; color: #cccccc; top:7900px; width: 20vw; margin:auto; position: relative; text-align: center; line-height:2.2;}
